<link href="../templates/app_yatraffic/css/usual.css" rel="stylesheet" type="text/css">
[#if TRAFFIC#]
	[#begin TRAFFIC#]
		<div class="yt_all">
			<div class="yt_title">[#city_title#]</div>
			<img src="[#trafficIco#]" align="right">
			<font color="[#icon#]">
			<div class="yt_level">[#level#]</div>
			<div class="yt_val">[#val#]</div>
			</font>
		</div>
	[#end TRAFFIC#]
[#endif TRAFFIC#]
[#if ROUTES#]
	[#begin ROUTES#]
	<div class="yt_all" style="height:[#height#]px">
	<div class="yt_title">Маршруты</div>
	 <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
		<script type="text/javascript">
			ymaps.ready(init);
			function init () {
				var myMap = new ymaps.Map("map", {center:[56.8829, 60.5181], zoom:11});
				var route_arr=[];
				var div_name=[];
				route_arr[1]= [#route1#]
				route_arr[2]= [#route2#]
				route_arr[3]= [#route3#]
				route_arr[4]= [#route4#]
				route_arr[5]= [#route5#]
				route_arr[6]= [#route6#]
				route_arr[7]= [#route7#]
				route_arr[8]= [#route8#]
				route_arr[9]= [#route9#]
				route_arr[10]= [#route10#]
				for (var j=1;j<11;j++) {(function(i){
					div_name[i]='#list'+i;
					if (route_arr[i] != null ) {
						ymaps.route( route_arr[i] , {
						mapStateAutoApply:false
						}).then(function (route) {
							$(div_name[i]).append(route.getHumanJamsTime());
						}, function (error) {
							alert('Возникла ошибка: ' + error.message);
						});
					}
				})(j)}	
			}
		</script>
		<div id="map" style="width: 0px; height: 0px"> </div> 
		<table style = 'border: 0;'>
		<tr>
			<td>
				<div style="width:160px;">[#route1_name#]</div>
			</td>
			<td>
				<div id="list1">&nbsp;</div>
		  </td>
	   </tr>
		<tr>
			<td>
				<div>[#route2_name#]</div>
			</td>
			<td>
				<div id="list2">&nbsp;</div>
		  </td>
	   </tr>
		<tr>
			<td>
				<div>[#route3_name#]</div>
			</td>
			<td>
				<div id="list3">&nbsp;</div>
		  </td>
	   </tr>
		<tr>
			<td>
				<div>[#route4_name#]</div>
			</td>
			<td>
				<div id="list4">&nbsp;</div>
		  </td>
	   </tr>
		<tr>
			<td>
				<div>[#route5_name#]</div>
			</td>
			<td>
				<div id="list5">&nbsp;</div>
		  </td>
	   </tr>
		<tr>
			<td>
				<div>[#route6_name#]</div>
			</td>
			<td>
				<div id="list6">&nbsp;</div>
		  </td>
	   </tr>
		<tr>
			<td>
				<div>[#route7_name#]</div>
			</td>
			<td>
				<div id="list7">&nbsp;</div>
		  </td>
	   </tr>
		<tr>
			<td>
				<div>[#route8_name#]</div>
			</td>
			<td>
				<div id="list8">&nbsp;</div>
		  </td>
	   </tr>
		<tr>
			<td>
				<div>[#route9_name#]</div>
			</td>
			<td>
				<div id="list9">&nbsp;</div>
		  </td>
	   </tr>
		<tr>
			<td>
				<div>[#route10_name#]</div>
			</td>
			<td>
				<div id="list10">&nbsp;</div>
		  </td>
	   </tr>
	</table>
	</div>
	[#end ROUTES#]
[#endif ROUTES#]