<div class="panel panel-info">
	<div class="panel-heading">Вызов модуля в меню</div>
	<div class="panel-body">
		<p><code><b>&#091#module name="app_yatraffic"#&#093</b></code> - вывод сведений о пробках<br>
		<code><b>&#091#module name="app_yatraffic" routes="1"#&#093</b></code> - вывод блока маршрутов<br></p>
	</div>
</div>
<div class="panel panel-info">
	<div class="panel-heading">Вызов модуля в своих скриптах/методах</div>
	<div class="panel-body">
		<p>Для "ручного" обновления данных, в своих скриптах/методах можно использовать:<br>
		<code style="display:block">CallMethod('yt_settings.update');</code><br>
		Для автоматического обновления нужно вставить в метод OnNewHour (или любой другой, выполняемый ежечасно) следующий код:<br>
		<code style="display:block">CallMethod('yt_settings.auto_update');</code></p>
	</div>
</div>