<div class="panel panel-info">
<div class="panel-heading">Маршруты&nbsp;&nbsp;</div>
<div class="panel-body">

<form action="?" method="get" class="form-horizontal" name="save_setting">
<div class="form-group">
	<label class="col-md-3">Маршрут 1</label>
	<div class="col-md-4">
	<input type="text" name="route1_name" class="form-control" placeholder="Имя маршрута" value="[#route1_name#]">
	</div>
	<div class="col-md-4">
	<input type="text" name="route1" class="form-control" placeholder="Массив координат" value="[#route1#]">
	</div>
</div>
<div class="form-group">
	<label class="col-md-3">Маршрут 2</label>
	<div class="col-md-4">
	<input type="text" name="route2_name" class="form-control" placeholder="Имя маршрута" value="[#route2_name#]">
	</div>
	<div class="col-md-4">
	<input type="text" name="route2" class="form-control" placeholder="Массив координат" value="[#route2#]">
	</div>
</div>
<div class="form-group">
	<label class="col-md-3">Маршрут 3</label>
	<div class="col-md-4">
	<input type="text" name="route3_name" class="form-control" placeholder="Имя маршрута" value="[#route3_name#]">
	</div>
	<div class="col-md-4">
	<input type="text" name="route3" class="form-control" placeholder="Массив координат" value="[#route3#]">
	</div>
</div>
<div class="form-group">
	<label class="col-md-3">Маршрут 4</label>
	<div class="col-md-4">
	<input type="text" name="route4_name" class="form-control" placeholder="Имя маршрута" value="[#route4_name#]">
	</div>
	<div class="col-md-4">
	<input type="text" name="route4" class="form-control" placeholder="Массив координат" value="[#route4#]">
	</div>
</div>
<div class="form-group">
	<label class="col-md-3">Высота блока</label>
	<div class="col-md-4">
	<input type="text" name="height" class="form-control" placeholder="Высота" value="[#height#]">
	</div>
</div>
<button type="submit" name="subm" value="routes" class="btn btn-primary"><#LANG_SUBMIT#></button>
<a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
</form>

</div>
</div>